/* style.css */

/* Make sure the whole page uses column layout */
/* html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
} */

/* Push footer to bottom naturally */
section {
  flex: 1; /* fills available space */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center the login box */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* spacing between elements */
  background: var(--text-color-white-20);
  margin-top: 75px;
  padding: 2rem 6rem;
  border-radius: var(--border-radius-l);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Optional: adjust logo size */
.logo {
  max-width: 200px;
  margin-bottom: 1rem;
}

/* Input & button styling */
.input-field {
  width: 250px;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: var(--border-radius-s);
  border: 2px solid var(--logo-color-100);
}

.login-button {
  width: 250px;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-s);
  color: var(--logo-color-100);
  background-color: var(--primary-color-100);
  border: 0;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-button:hover {
  background-color: var(--logo-color-100);
  transform: scale(1.05);
}

.forgot-password {
  text-decoration: none;
  color: var(--logo-color-100);
  background: var(--primary-color-100);
  padding: 8px;
  border-radius: var(--border-radius-s);
}
