<footer class="footer-content">
  <div class="footer-container">

    <div class="footer-column">
      <h3>MAXX-Energy</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque obcaecati iste suscipit magni sed modi odit commodi praesentium.</p>
    </div>

    <div class="footer-column">
      <h4>Explore</h4>
      <ul>
        <li><a href="/static/index.html#home">Home</a></li>
        <li><a href="/static/index.html#about">About Us</a></li>
        <li><a href="/static/index.html#faq">FAQ</a></li>
        <li><a href="/static/index.html#contactUs">Contact Us</a></li>
        <li><a href="/static/firebase-auth-app/login.html">Login</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>Help</h4>
      <ul>
        <li><a href="/static/index.html#faq">FAQ</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <a href="https://www.instagram.com/maxxpotentialtech/?hl=en"><i class="fab fa-instagram"></i></a>
        <a href="https://x.com/MaxxTechnology?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a>
        <a href="https://www.facebook.com/maxxpotentialllc/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/company/maxx-potential/"><i class="fa-brands fa-linkedin"></i></i></a>
      </div>
    </div>

  </div>

  <div class="language-selector">
    <label for="lang">Language:</label>
    <select id="lang">
      <option>English</option>
      <option>Français</option>
      <option>Español</option>
    </select>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 MAXX-Energy. All rights reserved.</p>
  </div>
</footer>