body {
  font-family: 'Albert Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.input-field {
  width: 300px;
  height: 55px;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 30px;
  background: white;
  outline: none;
}

.login-button {
  margin-top: 20px;
  width: 153px;
  height: 54px;
  background: #C3C3C3;
  border-radius: 40px;
  opacity: 0.60;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.forgot-password {
  color: #00B3FF;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}
