body {
  background-image: url("images/background-login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Albert Sans', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.logo {
  width: 120px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input-bubble {
  width: 300px;
  height: 55px;
  padding: 0 20px;
  margin: 10px 0;
  font-size: 20px;
  font-family: 'Albert Sans', sans-serif;
  font-weight: 700;
  border: 2px solid #003366; /* dark blue border */
  color: #003366;            /* dark blue text */
  border-radius: 30px;
  background: white;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-button {
  margin-top: 20px;
  width: 153px;
  height: 54px;
  background: #C3C3C3;
  border-radius: 40px;
  opacity: 0.60;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.forgot-password {
  color: #003366;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;

}
.glass-box {
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  padding: 40px;
  display: inline-block;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}


