<header class="nav-background">
  <div class="header-content">
    <nav class="navbar-links">
      <a href="../static/index.html#home" class="nav-link">Home</a>
      <a href="../static/index.html#about" class="nav-link">About Us</a>
      <a href="../static/index.html#faq" class="nav-link">FAQ</a>
      <a href="../static/index.html#landing-page" class="nav-link">Contact Us</a>
      <a href="../static/index.html#landing-page" class="nav-link">Login</a>
      <a href="../static/index.html#landing-page" class="nav-link">Register</a>
    </nav>
    <form id="search-form" class="header-search">
      <input type="text" id="search-input" name="query" />
      <label for="search-input" class="search-placeholder">
        <span class="icon">⌕</span> <span class="text">Search</span>
      </label>
    </form>
    <a href="../static/index.html#landing-page" class="logo-link">
      <img src="../static/images/header/MAXX-Energy-Logo-1B.png" alt="MAXX-Energy-Logo" class="logo" />
    </a>
  </div>
</header>