<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Search Results</title>
  <link rel="stylesheet" href="../static/css/global_styles.css"/>
  <link rel="stylesheet" href="../static/css/search_results.css"/>
  <link rel="stylesheet" href="../static/css/header.css">
</head>
<body>

    <div id="header-placeholder"></div> <!-- Dynamic Header Call -->
  
  <main>
    <h1>Search Results matching: "<span id="search-query-text"></span>"</h1>
    <div id="search-results"></div>
  </main>

  <script src="../static/js/search-results.js"></script>
  <script src="../static/js/header-scripts.js"></script>
</body>
</html>